jaguarliuu-rookie_text2data_0.3.0-offline.7z filter=lfs diff=lfs merge=lfs -text
kalochin-pdf_process_0.0.3-offline.7z filter=lfs diff=lfs merge=lfs -text
workspace-offline.7z filter=lfs diff=lfs merge=lfs -text
